body {
    font-family: "微软雅黑", Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding-top: 5px;
    overflow-y: scroll;
}

.hidden-image {
    display: none;
}

a {
    text-decoration: none;
    /* 去除下划线 */
    color: black;
    /* 设置链接颜色为黑色 */
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    max-height: 90%;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

#bottom {
    width: 100%;
}

.tips {
    font-size: 12px;
    color: #888;
}

.left,
.right {
    float: left;
    text-align: center;
    width: 40%;
    height: 80%;
    /* border: #000 solid 1px; */
}


.left {
    /* background-color: skyblue; */
    margin-left: 5%;
    padding-bottom: 50%;
}

.right {
    /* 背景颜色按需设置 */
    margin-left: 10%;
    /* border: 1px solid black; */
}

.timer-container {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* margin: 10px auto 0px; */
    width: 120px;
    height: 24px;
    background-color: #000;
    border: 4px solid #D2B48C;
    border-radius: 5px;
    color: white;
    display: inline-block;
}

#timer {
    /* padding: 0 0 0 5px; */
    flex-grow: 1;
    /* 允许timer根据需要扩展 */
    text-align: center;
    min-width: 30px;
    /* 防止文字变化时压缩过小 */
}

#startStop,
#timeReset {
    /* padding: 5px 10px; */
    color: red;
    /* cursor: pointer; */
}


#timeReset {
    color: white;
    margin-left: 5px;
}

.responsive-break {
    display: none;
}

#remarks {
    font-family: "微软雅黑", Arial, sans-serif;
    width: 95%;
    max-height: 300px;
    /* 仅允许垂直调整大小 */
    resize: vertical;
}

#title {
    font-size: 28px;
}

#top {
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: 90%;

}

#settings-link {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: black;
}

.role-entry {
    display: flex;
    /* 使用 Flexbox 布局 */
    align-items: center;
    /* 垂直居中对齐标签和输入框 */
    /* margin-bottom: 8px; */
    /* 每个输入框之间的间距 */
}

/* 发言信息 */
.role-entry label {
    margin-right: 10px;
    font-size: 14px;
    /* 标签和输入框之间的间隔 */
}

h1 {
    text-align: center;
    position: relative;
}

.note {
    margin-bottom: 0px;
    /* border-bottom: 1px solid #ddd; */
}

.note h2 {
    background-color: #f9f9f9;
    border-left: 6px solid #007bff;
    padding: 8px;
    font-size: 18px;
    text-align: left;
}

.note h2 img.locked {
    height: 18px;
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: bottom;
}

.toggle-icon,
.sfMark {
    cursor: pointer;
    /* Show pointer on hover to indicate it's clickable */
    display: block;
    /* SVG as block to position it correctly */
    margin: auto;
    /* Center the icon horizontally */
    width: 20px;
    /* Set the width of the SVG */
    height: 20px;
    /* Set the height of the SVG */
    margin-bottom: 5px;
    object-fit: contain;
}

.role-entry label {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center-align the label content */
}

#roles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    min-height: 200px;
    width: 100%;
    padding: 0;
}

.role-entry {
    width: 48%;
    /* Adjust this value based on your design needs */
}

.role-entry.even {
    margin-left: auto;
    /* This pushes even numbered entries to the right */
}

/* input {
    width: 40%;
    height: 60px;
    padding: 6px;
    margin: 2px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    font-family: "微软雅黑", Arial, sans-serif;
} */


/* 六边形大军 */
.hexagon {
    margin: 0 auto 5px auto;
    width: 18px;
    height: calc(18px * 2 / 1.7321);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    font-family: 'Noto Sans SC', Arial, sans-serif !important;
    color: white;
    background-color: #c8c8c8;
}

/* 单双字 */
.hexagon-one {
    font-size: 11px;
    line-height: 20px;
}

.hexagon-two {
    font-size: 8px;
    line-height: 20px;
}

/* 颜色 */
.hexagon-red {
    background-color: #770e3a;
}

.hexagon-green {
    background-color: #006b42;
}

.hexagon-blue {
    background-color: #2c779a;
}

.hexagon-gold {
    background-color: #b89534;
}

.role-entry textarea {
    width: 100%;
    /* 充分利用父容器宽度 */
    /* height: 60px; */
    /* 设置固定高度，可根据需求调整 */
    padding: 6px;
    margin-bottom: 2%;
    /* 调整为具体的px值可能更好，例如 `10px` */
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    font-family: "微软雅黑", Arial, sans-serif;
    resize: none;
    /* 禁止调整大小 */
}

/* 默认情况下，假设在较大屏幕上不需要显示 <br> */
.button-separator br {
    display: none;
}

.button {
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

.reset-button {
    background-color: red;
    color: white;
}

.reset-button:hover {
    background-color: #c82333;
    color: white;
}

.reset-button:active {
    background-color: #b01c2c;
    color: white;
}

.export-button {
    background-color: blue;
    color: white;
}

.export-button:hover {
    background-color: #0056b3;
    color: white;
}

.export-button:active {
    background-color: #004085;
    color: white;
}

/* 模态框基本样式 */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 100px;
}

/* 模态框内容区 */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    /* 默认宽度为80% */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: auto;
    /* 添加滚动条 */
    text-align: center;
}

/* 说明文档基本样式 */
.explain {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 100px;
}

/* 说明文档内容区 */
.explain-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: auto;
    text-align: center;
}

.explain-content p {
    margin: auto 10%;
    text-align: left;
}

/* 文本域样式 */
#exportText {
    width: 90%;
    /* 文本域宽度稍小于模态框宽度 */
    height: 400px;
    /* 默认高度 */
    margin-bottom: 20px;
    resize: vertical;
    /* 只允许垂直拉伸 */
    font-family: "微软雅黑", Arial, sans-serif;
}

/* 关闭按钮样式 */
.close-button {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* 按钮样式 */
.modal-content button {
    padding: 10px 20px;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* 复制按钮特定样式 */
#copyButton {
    background-color: #4CAF50;
    color: white;
}

#copyButton:hover {
    background-color: #45a049;
}

/* 导出按钮特定样式 */
#performExportButton {
    background-color: #008CBA;
    color: white;
}

#performExportButton:hover {
    background-color: #007BAA;
}

/* 取消按钮特定样式 */
#cancelButton {
    background-color: #f44336;
    color: white;
}

#cancelButton:hover {
    background-color: #da190b;
}

#snackbar {
    visibility: hidden;
    /* 默认不可见 */
    min-width: 250px;
    /* 最小宽度 */
    margin-left: -125px;
    /* 使其在屏幕中央 */
    background-color: #878787;
    /* 背景颜色 */
    color: #fff;
    /* 文本颜色 */
    text-align: center;
    /* 文本居中 */
    border-radius: 2px;
    /* 边框圆角 */
    padding: 16px;
    /* 内边距 */
    position: fixed;
    /* 固定定位 */
    z-index: 1;
    /* 在顶层 */
    left: 50%;
    /* 左偏移50% */
    bottom: 30px;
    /* 底部偏移 */
    font-size: 17px;
    /* 字体大小 */
    font-family: "微软雅黑", Arial, sans-serif;
}

#snackbar.show {
    visibility: visible;
    /* 使提示可见 */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

/* 媒体查询：适用于屏幕宽度小于1024px的设备 */
@media (max-width: 1024px) {
    body {
        overflow-y: auto;
        /* 在小屏设备上只在需要时显示滚动条 */
    }

    .left {
        display: none;
        /* 隐藏左侧面板 */
    }

    .right {
        width: 90%;
        /* 右侧面板宽度调整 */
        margin: 0 auto;
        /* 居中显示 */
        float: none;
        /* 去除浮动 */
    }

    .responsive-break {
        display: block;
    }

    .note h2,.button{
        margin-top: 5px;
    }

    .modal-content {
        width: 80%;
        /* 在小屏设备上占更大比例的宽度 */
    }

    #exportText {
        height: 360px;
        /* 在小屏设备上设置更小的默认高度 */
    }
}